@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #fff;
}

.upsale-clutch, .upsale-dribble {
  position: relative;
  z-index: 0;
  overflow: hidden;
  background: transparent !important;
  border-radius: 8px;
  width: 150px;
  transition: .2s all linear;
}

.upsale-clutch img , .upsale-dribble img{
  position: relative;
  z-index: 1;
  height: calc( 100% - 4px );
  width: calc( 100% - 4px );
  top: 2px;
  left: 2px;
  border-radius: 8px;
}

.upsale-clutch:after , .upsale-dribble:after{
 content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: conic-gradient(rgba(0, 0, 0, 0),
        #09b285,
        rgba(0, 0, 0, 0) 50%);
  animation: rotate 3s linear infinite
}
.upsale-dribble:after {
  background-image: conic-gradient(rgba(0, 0, 0, 0),
      #ff71a9,
      rgba(0, 0, 0, 0) 50%) !important
}
@-webkit-keyframes rotate {
  100% {
      transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
      transform: rotate(360deg);
  }
}